@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

h1,h2,h3,h4{

    font-family: 'Lato', sans-serif;
}

*{
    font-family: 'Roboto', sans-serif;
}

header nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 32, 32);
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    align-items: center;
}

header nav ul li{
    white-space: nowrap;
}

header nav h2{
    color: white;
    text-align: left;
}

a:visited{
    color: white;
}

a:hover{
    background-color: rgb(73, 72, 72);
}

a{
    color: white;
    text-decoration: none;
}

main h1{
    text-align: center;
    font-size: 25px;
}

h2, h3, h4{
    font-size: 20px;
}

main{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5% 15%;
    /*align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;*/
}

.questions-container{
    display: grid;
    gap: 5%;
}

main div article{
    border: 1px #ccc solid;
}

#first-question{
    /*flex: 1;*/
}
#second-question{
    grid-column: 1;
    /*flex: 3; /*Here im only using the first parameter of this attribute,
    so basically im using flex-grow: 1*/
}
#sidebar{
    grid-column: 2;
    grid-row: 1;

}

.sidebars-container, .questions-container{
    text-align: justify;
}